<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <style>
        h1 {
            text-align: center;
        }

        p {
            width: 60%;
            margin: 50px auto;
        }
    </style>


</head>