<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="../app.css">

<%- include ('../partials/head.ejs') %>

    <body>

        <div class="image">
            <img src="../error.png">
        </div>

    </body>

</html>